.Skills {
	flex-direction: column;
	padding-right: 2vw;
}

.SkillBtn {
	margin: 5vh 0 10vh;
}

.verticalCenter {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vh {
	padding-top: 6vh;
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.halfvh {
	height: 100vh;
	width: 100%;
	position: relative;

}

.align {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.img {
	width: 100vw;
}

.ParallaxContainer {
	margin: 0;
	position: relative;
	width: 100vw;
}

.About {
	padding: 0 5vw;
}

.Home {
	padding: 35vh 0 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

.Home h1{
	font-size: 2.5em;
	padding: 1vh 0;
	color: #9cdee7;
	text-shadow: 2px 2px 4px #000000;
}

.Home h3{
	//font-size: 1.2em;
	padding: 1vh 0;
	//color: #9cdee7;
	//@warn: 2px 2px 4px #000000;
}

.Home h4{
	font-size: 1.5em;
	padding: 1vh 0;
	text-shadow: 2px 2px 2px #000000;
}
.Home h5{
	font-size: 1.3em;
	padding: 1vh 0;
	text-shadow: 2px 2px 2px #000000;
}

.Projects {
	//min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-content:space-between;
	flex-direction: column;
	//text-align: center;
	//align-items: center;
	margin: 0vh 5vw;
}

.container{
	position: relative;
	background-color: rgb(0, 0, 0);
	//position:absolute;
}

.ThumbnailTitle{
	display: inline;
}

.btn {
	//position: absolute;
	//top: 50%;
	//left: 50%;
	//transform: translate(-50%, -50%);
	//-ms-transform: translate(-50%, -50%);
	background-color: rgba(15, 15, 15, 0.8);
	color: rgba(255, 255, 255, 0.8);
	//font-size: 16px;
	padding: 2vh 4vw;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
  }
.Skip {
	//display: flex;
	//align-items: center;
	//justify-content: center;
	background-color: rgba(15, 15, 15, 0.8);
	border: 1px solid white;
	font-size: large;
	cursor: pointer;
	//width: 100%;
	width:fit-content;
	border-radius: 5px;
	text-align: center;
	//line-height: 1em;
	margin: 2vh auto 0;
	padding: 1vh 1vw
  }

  .Skip a{
	display: inline;
}
  .container .btn:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
  }

.container img {
	display:block;
	width: 100%;
	//height: 100%;
	//max-height: 12.5rem;
	max-width: 100vw;
	//z-index: -999;
}

.highlight {
	color: #fff;
	color: rgba(255,255,255, 0.9);
	text-shadow: -5px 1px 11px #B914C7;
}

.Next {
	margin-bottom: 0vh;
}


.ParallaxHalf {
	height: 60vh;
	flex-direction: column;
}

.row {
	margin-bottom: 0;
}

.header {
	border: none;
}
.header h1{
	width: fit-content;
	margin: 0 auto;
	cursor: pointer;
}

.Home li {
	list-style: circle;
	margin: 0;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
	.Projects {
		flex-direction:row;
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
	.Projects {
		flex-direction:row;
		flex-wrap: wrap;
	}
}
