.Wrapper {
    margin: 0;
    color: white;
    padding: 0;
    top: 0;
    position: relative;
    height: 100%;
}
 .Main {
     min-height: 100vh;
     height: 100%;
 }
// .Wrapper {
//     margin-top: 1vh;
//     height: 100%;
//     color: white;
// }

/* For mobile phones: */
.Layout {
    padding: 6vh 0 0;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Layout {
        padding: 6vh 0 0;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .Layout {
        padding: 6vh 0 0;
    }
}