extends baseEmail

block content
  //p Hi #{firstName},
  p Welcome to the Overthrone family.
  p Click here to log in:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Log in!
  p Thank you so much for joining! Enjoy!
