.containerWrapper{
	//position: relative;
	width: 100%;
    margin: 2vh 0vw;
	padding: 0 5vw;
	//position:absolute;
	//background-color: rgb(0, 0, 0);
}

.iframeContainer{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
}

.iframeContainer iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blockquoteContainer{
	position: relative;
	width: 100%;
	text-align: center;
	//height: 0;
}
.blockquoteContainer blockquote{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.btn {
//	position: absolute;
//	top: 50%;
//	left: 50%;
//	transform: translate(-50%, -50%);
//	-ms-transform: translate(-50%, -50%);
	background-color: rgba(65, 6, 83, 0.8);
	color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 2vh 4vw;
	border: none;
	//cursor: pointer;
	//border-radius: 5px;
	text-align: center;
  }
  .CardThumbnail img{
	  border: 2px solid black;
	  border-radius: none;

  }
  .CardThumbnail img:hover {
	border: 2px solid white;
	color: rgb(255, 255, 255);
  }



.container img {
	cursor: pointer;
	display:block;
	width: 100%;
	//height: 100%;
	//max-height: 12.5rem;
	max-width: 100vw;
	//z-index: -999;
}

.description {
	padding: 2vh 2vw;
	background-color: rgba(0, 0, 0, 0.85);
}
.description li{
	list-style-type: disc !important;
	margin-left: 3vw;
	//background-color: rgba(0, 0, 0, 0.1);

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
	.container{
		width: 50%;
	}
	

}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
	.container{
		width: 100%;
		display: flex;
	}

	.CardThumbnail {
		width:50%
	}
	.description {
		width: 50%;
	}
}