.Order {
    margin: 0 0 2vh;
    height: 100%;
    display: block;
    padding: 2vh 2vw;
}

.Order p {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap !important;
}
.bigbox {
    display:block;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .bigbox {
        display:flex;
        justify-content: space-evenly;
    }

    .box {
        width: 50%;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .bigbox {
        display:flex;
        justify-content: space-evenly;
    }
    .box {
        width: 50%;
    }
}
