.filterbar {
    padding: 0 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Orderbar {
    width: 100%;
    margin: 0 0;
    padding: 0;
    text-align: center;
}

.Orderbar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start:0;
    padding: 0;
}

.OrderbarItem {
    height: 100%;
    width: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
}
.OrderbarItem a{  
    height: 100%;    
    padding: 1vh 1vw;
}

.OrderbarItem:hover,
.OrderbarItem:active,
.OrderbarItem.active,
.OrderbarItem:focus,
.Orderbar li a:checked {
    border-bottom: 4px solid white;
    background-color: #2a2104;
}

.orderby {
    display: flex;
    padding: 0vh 0 1vh;
    justify-content: flex-end;
}

.filter {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .filter {
        justify-content: left;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .filter {
        justify-content: left;
    }
}
