.Navbar {
    height: 51px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(4, 0, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    box-sizing: border-box;
    z-index: 90;
    color: white;
    white-space: nowrap;
}
.user {
    padding: 0 0vw 0 3vw;
}

.Navbar a {
    color: white;
    height: 100%;
    margin: 0;
    align-items: center;
}

.Navbar nav {
    height: 100%;
}

.Navbar .Mobile {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.Mobile a {
        display: flex;
    text-align: center;
    align-items: center;
    height: 80%;
    padding: 0;
}

.Navbar h2,
.Navbar h3 {
    margin: 0;
}

.NavItem {
 margin: 0 4vw;
}


.DesktopOnly {
    display: none;
}

.fa {
    height: 1vh;
}

.Logo {
    height: 80%;
    display: flex;
    text-align: center;
    align-items: center;
}

.LogoName {
    font-size: 1.5em;
}

.NavItemLogo {
    display: flex;
    align-items: center;
}

.SidebarToggle {
    font-size: 1.5em;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .DesktopOnly {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .DesktopOnly {
        display: inherit;
    }

    .Navbar .MobileLinks, .Navbar .Logo {
        display: none;
    }
    
    .Navbar {
        justify-content: center;
    }

    a {
        padding: 0;
        
    }
}