.Profile {
    background-color: #221a00;
    margin: 1vh 2vw;
    padding: 1vh 5vw 2vh;
}

.Link {
    background-color:#271e00;
    margin: 0 0 2vh;
    padding: 2vh 1vw;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Profile {
        margin: 6vh 10vw 0;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .Profile {
        margin: 6vh 20vw 0;
      
    }
}