.SidebarToggle {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    color: #4deaff;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 3rem;
}

.SidebarToggle .materialIcons{
    font-size: 2.5rem;
}


@media (min-width: 600px) {
    .SidebarToggle {
        display:none;
    }
}
