.borderTop {
    border-top: 1px solid #dee2e6!important;
}

.pt {
    padding-top: 1rem!important;
}

nav {
    background-color: inherit;
}

.Pages {
 
    padding: 1vh 2vw;
    margin: 1vh 2vw;
    box-shadow: 0 2px 3px #ccc;
    grid-area: content;
    justify-content: center;

    background-color: rgba(34,84,112,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    
}
.Pages legend {
    font-size: 1.5rem;

}

.Pages label {
    display: block;
    margin: 1rem auto;
    font-weight: bold;
}

.Pages input,
.Pages textarea,
.Pages select {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: 0;
    background: #f1f1f1;
    font-size: 1.25rem;
    padding: .5rem .75rem;
    color:#495057;
    line-height: 1.5;
    border-radius:.3rem;
    font-weight: 400;
}

.Pages input:checked,
.Pages input[type=checkbox]{
    width: auto;
}

.Pages .inline {
    display: inline-block;
}

.Pages input:focus {
    background-color:#ddd;
    border-color:#285280;
}

.Pages button {
    border: 1px solid #17a2b8;
    background-color: darkcyan;
    color: white;
    padding: 16px 20px;
    margin: 20px 0 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    vertical-align: middle;
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
}

.Pages button:hover {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.Danger {
    background-color: red;
}

/* For mobile phones: */
.Container { 
    height: 100%;
}

.btn:hover{
    color: white;
}


.spread {
    margin: 2.3vh;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 2vw;
}

.Jumbotron {
    margin: 0 5vw;
    padding: 10vh 30px 20vh;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: rgba(20, 19, 17, 0.788);
    text-align: center;
}

.line{ 
    display: flex;
}
.Card {
    padding: 5vh 5vw 2vh;
    margin: 0 2vw;
}


.CardTitle {
    font-size: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: title;
    display: flex;
}


.CardTitle h1{ 
    margin: 0;
    align-items: baseline;
}


.CardDetails {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-self: start;
    align-items: center;
    font-size: .85rem;
    margin:0;

}

.CardDescription {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: description;
}

.CardThumbnail {
    grid-area: thumbnail;
    margin: 0;
    text-align: center;
	overflow: hidden;
    text-align: center;
}
.CardThumbnail img {
    
    max-height: 12.5rem;
}
.CardThumbnail img:after  {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.Author {
    margin: 16px 0;
}


.Edit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: darkcyan;
    width: 100%;
    opacity: 0.9;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
}

.Edit button:hover,
.Edit button:active {
    opacity:1;
}

.Edit button.Delete {
    background-color: darkred;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    opacity:1;
}



// :focus-visible {
//     background-color: white;
// }

button:focus {outline:0;}
input:focus {outline:0;}
input::placeholder{
    color: rgb(255, 255, 255);   
  }


.line {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Card {
        margin: 0 5vw 0;
        padding: 5vh 5vw 2vh;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .Card {
        margin: 0 15vw 0;
        padding: 5vh 5vw 2vh;
        min-width: 70vw;
    }
}


