.Archives {
    background-color: rgba(34,84,112,0.35);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    padding: 1vh 2vw 2vh;
    margin: 0 0 2vh;
}

.Archives ul {
    margin: 0;
    padding-left: 15px;
}


li {
    list-style: disc; 
 }